body{
    background-color: rgb(240, 235, 229);
}
table,th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
.table-responsive{
    overflow-y: auto;
    height: calc(100vh - 150px);
    display: block;
}
table{
    margin-bottom: 0px !important;
}

th,td{
    padding: 10px !important;
}

table tr:hover{
 background-color: rgba(236, 227, 227, 0.911);
 color: #000;
}

input{
    width: 250px;
    padding: 5px;
}
.inputWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
button{
    padding: 5px 20px;
    margin-left: 20px;
    color: white;
    background-color: black;
    border: none;
}
button:hover{
    background-color: rgba(218, 207, 207, 0.842);
    color: #000;
    border: 2px solid #000;
}
.onChangePageCount{
    margin-top: 15px;
    margin-bottom: 10px;
}
.onChangeInput{
    margin-top: 15px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination>li>a, .pagination>li>span{
    color: #000 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #000;
    color: white !important;
}
